<template>
  <view>
      <view class="statusbar"><text class="text-color-primary">Askisi</text></view> 
      <view class="container">
        <text class="text-color-primary">Hello World</text>
      </view>
  </view>
</template>

<script>
export default {
  data: function() {
    return {
      message: "Hello World"
    };
  },
  methods: {
    handleBtnPress: function() {
      alert('Btn Press');
    }
  }
};
</script>


<style>
.container {
  background-color: #167a8b;
  flex: 1;
  margin:20;
}
.text-color-primary {
  color: #FFF;
}
.statusbar{
  background-color: #243d44;
  height:21;
}




</style>
